<Configuration>
	<patternresolution>16</patternresolution>
	<patternborderratio>50</patternborderratio>
	<patternthreshold>20</patternthreshold>
	<patternminconfidence>0.5</patternminconfidence>
	<unscaledmarkerwidth>80</unscaledmarkerwidth>	
	<framerate>25</framerate>
	<width>640</width>
	<height>480</height>
	<mirror>true</mirror>
	<downsampleratio>1</downsampleratio>
</Configuration>
